@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body.dark-mode {
  background: #0b0b0b;
}

body.light-mode {
  background: #e9e9e9;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}